<div class="card_login">
    <p-card header="Accesar" class="ancho_card">
        <p-divider type="solid"></p-divider>
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
            <label class="w-6rem">Cédula</label>
            <input
                pInputText
                id="username"
                type="text"
                class="w-12rem"
            >
        </div>
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
            <label class="w-6rem">Contraseña</label>
            <input
                pInputText
                id="password"
                type="password"
                class="w-12rem"
            >
        </div>
        <p-button label="Ingresar" icon="pi pi-user"></p-button>
    </p-card>
</div>
